#createPost {
  text-align: center;
  border-radius: 50px;
  width: 49%;
  position: fixed;
  margin: auto;
  top: 30px;
  right: 25.5%;
}

#postModal {
  background: white;
  outline: 3px solid lightgray;
  border-radius: 20px;
  color: gray;
  width: 1000px;
  position: absolute;
  top: 100px;
  right: 500px;
}
